{% extends 'base.html' %} 
{% load static %}


{% block title %} | Welcome {% endblock %}
{% block content %}
<body>

    <main class="main-wrapper">


        <!-- ...:::Start Catagories - 1 Section:::... -->
        <div class="catagories-section section-gap-top-50">
            <div class="container">

                <div class="product-wrapper">
                    <div class="product-wrapper-content--4">
                        <!-- Start Product Single Item -->
                        <div id="single-product-item" class="single-product-item product-item--style-4">
                            <a aria-label="Product Image" href="single-product.html" class="image">
                                <img width="90" height="90" class="img-fluid" src="assets/images/product/small/product-1-small-1.png" alt="">
                            </a>
                            <div class="content">
                                <div class="content--left">
                                    <a href="single-product.html" class="title"><strong>Mika</strong> sports mans
                                        shoe</a>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <a href="#?" aria-label="Cart" class="cart-link"><i
									class="icon icon-carce-x-circle"></i></a>
                        </div>
                        <!-- ENd Product Single Item -->
                        <!-- Start Product Single Item -->
                        <div class="single-product-item product-item--style-4">
                            <a aria-label="Product Image" href="single-product.html" class="image">
                                <img width="90" height="90" class="img-fluid" src="assets/images/product/small/product-1-small-2.png" alt="">
                            </a>
                            <div class="content">
                                <div class="content--left">
                                    <a href="single-product.html" class="title"><strong>Mika</strong> sports mans
                                        shoe</a>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <a href="#?" aria-label="Cart" class="cart-link"><i
									class="icon icon-carce-x-circle"></i></a>
                        </div>
                        <!-- ENd Product Single Item -->
                        <!-- Start Product Single Item -->
                        <div class="single-product-item product-item--style-4">
                            <a aria-label="Product Image" href="single-product.html" class="image">
                                <img width="90" height="90" class="img-fluid" src="assets/images/product/small/product-1-small-3.png" alt="">
                            </a>
                            <div class="content">
                                <div class="content--left">
                                    <a href="single-product.html" class="title"><strong>Mika</strong> sports mans
                                        shoe</a>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <a href="#?" aria-label="Cart" class="cart-link"><i
									class="icon icon-carce-x-circle"></i></a>
                        </div>
                        <!-- ENd Product Single Item -->
                        <!-- Start Product Single Item -->
                        <div class="single-product-item product-item--style-4">
                            <a aria-label="Product Image" href="single-product.html" class="image">
                                <img width="90" height="90" class="img-fluid" src="assets/images/product/small/product-1-small-4.png" alt="">
                            </a>
                            <div class="content">
                                <div class="content--left">
                                    <a href="single-product.html" class="title"><strong>Mika</strong> sports mans
                                        shoe</a>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <a href="#?" aria-label="Cart" class="cart-link"><i
									class="icon icon-carce-x-circle"></i></a>
                        </div>
                        <!-- ENd Product Single Item -->
                        <!-- Start Product Single Item -->
                        <div class="single-product-item product-item--style-4">
                            <a aria-label="Product Image" href="single-product.html" class="image">
                                <img width="90" height="90" class="img-fluid" src="assets/images/product/small/product-1-small-1.png" alt="">
                            </a>
                            <div class="content">
                                <div class="content--left">
                                    <a href="single-product.html" class="title"><strong>Mika</strong> sports mans
                                        shoe</a>
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <a href="#?" aria-label="Cart" class="cart-link"><i
									class="icon icon-carce-x-circle"></i></a>
                        </div>
                        <!-- ENd Product Single Item -->
                    </div>
                    <button class="load-more-btn">load
                        more</button>
                </div>
            </div>
        </div>
        <!-- ...:::Start Catagories - 1 Section:::... -->

        <div class="short-section">
            <div class="container">
                <div class="short-wrapper">
                    <span class="title">Short By</span>

                    <ul class="short-select-list">
                        <li class="list-item">
                            <label for="sort-1">
                                Recent
                                <input type="radio" name="sort-item" id="sort-1" checked>
                                <span class="sort-radio-btn"></span>
                            </label>
                        </li>
                        <li class="list-item">
                            <label for="sort-2">
                                Most expensive
                                <input type="radio" name="sort-item" id="sort-2">
                                <span class="sort-radio-btn"></span>
                            </label>
                        </li>
                        <li class="list-item">
                            <label for="sort-3">
                                Cheapest
                                <input type="radio" name="sort-item" id="sort-3">
                                <span class="sort-radio-btn"></span>
                            </label>
                        </li>
                        <li class="list-item">
                            <label for="sort-4">
                                Recomended
                                <input type="radio" name="sort-item" id="sort-4">
                                <span class="sort-radio-btn"></span>
                            </label>
                        </li>
                    </ul>

                    <div class="short-btn-group">
                        <button class="btn btn-cancel">Cancel</button>
                        <button class="btn btn-apply">Apply</button>
                    </div>
                </div>
            </div>
        </div>

      
        <footer class="footer-section"></footer>
    </main>

    <!-- ::::::::::::::All JS Files here :::::::::::::: -->
    <!-- Global Vendor -->
    <script src="assets/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>

    <!--Plugins JS-->
    <script src="assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="assets/js/plugins/ion.rangeSlider.min.js"></script>

    <!-- Minify Version -->
    <!-- <script src="assets/js/vendor.min.js"></script>
    <script src="assets/js/plugins.min.js"></script> -->

    <!--Main JS (Common Activation Codes)-->
    <script src="assets/js/main.js"></script>
    <!-- <script src="assets/js/main.min.js"></script> -->

    <script>
        window.addEventListener("load", function() {
            document.querySelector("#single-product-item").classList.add("active");
        });
        setTimeout(() => {
            document.querySelector("#single-product-item").classList.remove("active");
        }, 1000);
    </script>
{% endblock %}