{% extends 'base.html' %} 
{% load static %}


{% block title %} | Welcome {% endblock %}
{% block content %}

    <main class="main-wrapper">
        

        <!-- ...:::Start Cart Section:::... -->
        <div class="cart-section section-gap-top-30">
            <div class="container">
                <div class="cart-items-wrapper">
                    {% if cart_items.count > 0 %}
                    <ul class="cart-item-list">

                        {% for cart_item in cart_items %}
                        <!-- Start Single Cart Item -->
                        <li class="single-cart-item">
                            <div class="image">
                                <img width="90" height="90" src="{{cart_item.product.images.url}}" alt="image">
                            </div>
                            <div class="content">
                                <a href="{% url 'remove_cart_item' cart_item.product.id %}" class="delete-item">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                        <path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 464c-118.7 0-216-96.1-216-216 0-118.7 96.1-216 216-216 118.7 0 216 96.1 216 216 0 118.7-96.1 216-216 216zm94.8-285.3L281.5 256l69.3 69.3c4.7 4.7 4.7 12.3 0 17l-8.5 8.5c-4.7 4.7-12.3 4.7-17 0L256 281.5l-69.3 69.3c-4.7 4.7-12.3 4.7-17 0l-8.5-8.5c-4.7-4.7-4.7-12.3 0-17l69.3-69.3-69.3-69.3c-4.7-4.7-4.7-12.3 0-17l8.5-8.5c4.7-4.7 12.3-4.7 17 0l69.3 69.3 69.3-69.3c4.7-4.7 12.3-4.7 17 0l8.5 8.5c4.6 4.7 4.6 12.3 0 17z" />
                                    </svg>
                                </a>
                                <a href="{{cart_item.product.get_url}}" class="title">{{cart_item.product.product_name}}</a>
                                <div class="details">
                                    <div class="left">
                                        {% if cart_item.variations.all %}
                                          {% for item in cart_item.variations.all %}
                                            <span class="size" style="margin-right: 20px;">{{item.variation_category}}: {{item.variation_value | upper}}</span>
                                          {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="details">
                                    <div class="left">
                                        <span class="brand">{{cart_item.product.category}}</span>
                                        <span class="price">${{cart_item.sub_total}}</span>
                                    </div>
                                    <div class="right">
                                        <div class="product-quantity">
                                            <div class="num-block skin-2">
                                                <div class="num-in">
                                                    <a href="{% url 'remove_cart' cart_item.product.id %}" style="width: 33.33%;display: flex;height: 100%;position: relative;justify-content: center;z-index: 1;">
                                                        <span class="minus dis" style=" z-index: 0;  pointer-events: none;padding: 10px;"></span>
                                                    </a>
                                                    <label for="quan-1" class="visually-hidden"></label>
                                                    <input id="quan-1" type="text" class="" value="{{cart_item.quantity}}" readonly="">
                                                    <a href="{% url 'add_cart' cart_item.product.id %}" style="width: 33.33%;display: flex;height: 100%;position: relative;justify-content: center; z-index: 1;">
                                                        <span class="plus" style=" z-index: 0;  pointer-events: none;padding: 10px;"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- End Single Cart Item -->
                        {% endfor %}
                    
                    </ul>
                    
                    <ul class="cart-info-list">
                        <li class="cart-info-single-list">
                            <ul class="cart-info-child">
                                <li class="item"><span class="text-left">Subtotal</span> <span
										class="text-right">${{total}}</span></li>
                            </ul>
                        </li>
                        <li class="cart-info-single-list">
                            <ul class="cart-info-child">
                                <!-- <li class="item"><span class="text-left">Shipping</span> <span
										class="text-right">$100.00</span></li> -->
                                <li class="item"><span class="text-left">Tax</span> <span
										class="text-right">${{tax}}</span></li>
                            </ul>
                        </li>
                        <li class="cart-info-single-list">
                            <ul class="cart-info-child">
                                <li class="item"><span class="text-left">Grand Total</span> <span
										class="total-price">${{grand_total}}</span>
                                    <a href="{% url 'checkout' %}" class="btn"><span class="icon"><i
												class="icon icon-carce-check-circle"></i></span>Check out</a>

                                </li>
                            </ul>
                        </li>
                    </ul>

        <!-- ...:::End Cart Section:::... -->
                {% else %}
                    <div style="height:100%;width:100%">
                        <h4 class="alert-heading">No items in cart</h4>
                        <a   href="{% url 'home' %}" class="load-more-btn">Continue Shopping</a>
                        <p>Go to <a href="{% url 'home' %}">home page</a> and add some items to cart</p>
                    </div>
                {% endif %}
             </div>
            </div>
        </div>
        <footer class="footer-section"></footer>
    </main>

{% endblock %}s