{% extends 'base.html' %} 
{% load static %}


{% block title %} | Welcome {% endblock %}
{% block content %}

    <main class="main-wrapper">

        <!-- ...:::Start Cart Section:::... -->
        <div class="cart-section section-gap-top-30">
            <div class="container">
                <div class="cart-items-wrapper">

                  <div class="product-wrapper">
                    <div class="product-wrapper-content--4">

                        {% if wishlist %}
                            {% for item in wishlist %}
                        <!-- Start Product Single Item -->
                        <div 
                             {% if forloop.first %} id="single-product-item" {% endif %}      
                            class="single-product-item product-item--style-4">
                            <a aria-label="Product Image" href="{{item.product.get_url}}"" class="image">
                                <img width="90" height="90" class="img-fluid" src="{{item.product.images.url}}" alt="">
                            </a>
                            <div class="content">
                                <div class="content--left">
                                    <a href="{{item.product.get_url}}" class="title"><strong>{{item.product.product_name}}</strong></a>
                                    <p>{{item.product.description}}</p>
                                </div>
                                <div class="right">
                                    <a href="{{item.product.get_url}}" class="btn btn--default btn--radius btn--color-white btn--radical-red">Add to cart</a>
                                </div>
                            </div>
                            <a href="{% url 'remove_wishlist_item' item.product.id %}" aria-label="Cart" class="cart-link"><i
									class="icon icon-carce-x-circle"></i></a>
                        </div>
                        <!-- ENd Product Single Item -->
                         {% endfor %}
                      {% else %}
                            <p>No items in your wishlist</p>
                      {% endif %}

                    </div>
                    <!-- <button class="load-more-btn">load
                        more</button> -->
                </div>
                    <!-- <button class="load-more-btn">load more</button> -->
                </div>
            </div>
        </div>
        <!-- ...:::End Cart Section:::... -->

       

        <footer class="footer-section"></footer>
    </main>

    <script>
        window.addEventListener("load", function() {
            document.querySelector("#single-product-item").classList.add("active");

            setTimeout(() => {
              document.querySelector("#single-product-item").classList.remove("active");
            }, 1000);
        });
       
    </script>
{% endblock %}s