{% load static %}


        <!-- ...:::End User Event Section:::... -->

        <!--  Start Offcanvas Mobile Menu Section -->
        <div id="mobile-menu-offcanvas" class="offcanvas offcanvas-leftside offcanvas-mobile-menu-section">
            <!-- Start Offcanvas Header -->
            <div class="offcanvas-header flex-end">

                <div class="logo">
                    <a href="index.html"><img class="img-fluid" width="147" height="26" src="{% static 'assets/images/logo.png' %}" alt="image"></a>
                </div>

                <button class="offcanvas-close" aria-label="offcanvas svg icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="5.973" height="10.449" viewBox="0 0 5.973 10.449">
                        <path id="Icon_ionic-ios-arrow-back" data-name="Icon ionic-ios-arrow-back" d="M13.051,11.417,17,7.466a.747.747,0,0,0-1.058-1.054l-4.479,4.476a.745.745,0,0,0-.022,1.03l4.5,4.507A.747.747,0,1,0,17,15.37Z" transform="translate(-11.251 -6.194)" />
                    </svg>
                </button>
            </div>
            <!-- End Offcanvas Header -->

            <!-- Start Offcanvas Mobile Menu Wrapper -->
            <div class="offcanvas-mobile-menu-wrapper">
                <!-- Start Mobile Menu  -->
                <div class="mobile-menu-bottom">
                    <!-- Start Mobile Menu Nav -->
                    <div class="offcanvas-menu">
                        <ul>
                            <li>
                                <a href="{% url 'home' %}"><span>Home</span></a>
                            </li>
                            <li>
                                <a href="#"><span>Shop</span></a>
                                <ul class="mobile-sub-menu">
                                    <li><a href="{% url 'shop' %}">Shop</a></li>
                                    <li><a href="{% url 'product' %}">Product</a></li>
                                    <li><a href="{% url 'category' %}">shop category</a></li>
                                </ul>

                            </li>
                            <li>
                                <a href="#"><span>Pages</span></a>
                                <ul class="mobile-sub-menu">
                                    <li><a href="{% url 'home' %}">Chat</a></li>
                                    <li><a href="{% url 'cart' %}">Cart</a></li>
                                    <li><a href="{% url 'wishlist' %}">Wishlist</a></li>
                                    <li><a href="{% url 'order' %}">Order</a></li>
                                    <li><a href="{% url 'login' %}">Login</a></li>
                                    <li><a href="{% url 'signup' %}">Register</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div> <!-- End Mobile Menu Nav -->
                </div> <!-- End Mobile Menu -->

                <!-- Start Mobile contact Info -->
                <div class="mobile-contact-info">
                    <address class="address">
                        <span>Address: 4710-4890 Breckinridge St, Fayettevill</span>
                        <span>Call Us: (+800) 345 678, (+800) 123 456</span>
                        <span>Email: yourmail@mail.com</span>
                    </address>
                </div>
                <!-- End Mobile contact Info -->

            </div> <!-- End Offcanvas Mobile Menu Wrapper -->
        </div> <!-- ...:::: End Offcanvas Mobile Menu Section:::... -->

        <!--  Start Offcanvas Profile Menu Section -->
        <div id="profile-menu-offcanvas" class="offcanvas offcanvas-rightside">
            <!-- Start Offcanvas Header -->
            <div class="offcanvas-header flex-start offcanvas-modify">
                <button class="offcanvas-close" aria-label="offcanvas svg icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="5.973" height="10.449" viewBox="0 0 5.973 10.449">
                        <path id="Icon_ionic-ios-arrow-back" data-name="Icon ionic-ios-arrow-back" d="M13.051,11.417,17,7.466a.747.747,0,0,0-1.058-1.054l-4.479,4.476a.745.745,0,0,0-.022,1.03l4.5,4.507A.747.747,0,1,0,17,15.37Z" transform="translate(-11.251 -6.194)" />
                    </svg>
                </button>
                <span>Home</span>

            </div> <!-- End Offcanvas Header -->
            <!-- Start Offcanvas Mobile Menu Wrapper -->
            <div class="offcanvas-profile-menu-wrapper">
                <!-- ...:::Start Profile Card Section:::... -->
                <div class="profile-card-section section-gap-top-25">
                    <div class="profile-card-wrapper">
                        <div class="image">
                            <img class="img-fluid" width="96" height="96" src="{% static 'assets/images/user/user-profile.png' %}" alt="image">
                        </div>
                         {% if user.id is not None %}
                        <div class="content">
                            <h2 class="name">{{ user.username | upper}}</h2>
                            <span class="email">{{user.email}}</span>
                            <span class="id-num">ID NO: {{user.id}}</span>
                        </div>
                        {% else %}
                          <div class="content">
                            <h2 class="name">Guest</h2>
                          </div>
                        {% endif %}
                        <div class="profile-shape profile-shape-1"><img class="img-fluid" width="61" height="50" src="{% static 'assets/images/profile-shape-1.svg' %}" alt="image"></div>
                        <div class="profile-shape profile-shape-2"><img class="img-fluid" width="48" height="59" src="{% static 'assets/images/profile-shape-2.svg' %}" alt="image"></div>
                    </div>
                </div>
                <!-- ...:::End Profile Card Section:::... -->

                <!-- ...:::Start Profile Details Section:::... -->
                <div class="profile-details-section section-gap-top-30">
                    <div class="profile-details-wrapper">
                         {% if user.id is not None %}
                        <div class="profile-details-top">
                            <div class="left">
                                <span class="text">Total Buy</span>
                                <span class="price">$2000.00</span>
                            </div>
                            <div class="right">
                                <button aria-label="Wishlist" class="btn btn--size-58-58 btn--font-size-22 btn--center btn--round btn--color-radical-red btn--bg-white btn--box-shadow"><i
                                class="icon icon-carce-heart"></i></button>
                            </div>
                        </div>
                        {% endif %}
                        <div class="profile-details-bottom">
                            {% if user.id is not None %}
                            <ul class="profile-user-list">
                                <li class="profile-list-item">
                                    <ul class="profile-single-list">
                                        <li class="list-item">
                                            <span class="title">Setting</span>
                                        </li>
                                        <li class="list-item">
                                            <a href="{% url 'settings' %}" class="profile-link"><span class="icon"><i
                                                class="icon icon-carce-user"></i></span>Account Setting</a>
                                        </li>
                                        <li class="list-item">
                                            <a href="{% url 'checkout' %}" class="profile-link"><span class="icon"><i
                                                class="icon icon-carce-briefcase"></i></span>Billing & Payment</a>
                                        </li>
                                        <li class="list-item">
                                            <a href="{% url 'notifications' %}" class="profile-link"><span class="icon"><i
                                                class="icon icon-carce-bell"></i></span>Notification</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="profile-list-item">
                                    <ul class="profile-single-list">
                                        <li class="list-item">
                                           
                                            <form action="{% url 'logout' %}" method="POST">
                                                {% csrf_token %}
                                                <button type="submit" class="profile-link" style="background: none;border: none;cursor: pointer;width: 100%;">
                                                    <span class="icon"><i class="icon icon-carce-login"></i></span>Log Out</button>
                                            </form>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            {% else %}
                            <ul class="profile-user-list">
                                <li class="profile-list-item">
                                    <ul class="profile-single-list">
                                        <li class="list-item">
                                            <span class="title"></span>
                                        </li>
                                        <li class="list-item">
                                            <a href="{% url 'login' %}" class="profile-link"><span class="icon"><i
                                                class="icon icon-carce-user"></i></span>Login</a>
                                        </li>
                                        <li class="list-item">
                                            <a href="{% url 'signup' %}" class="profile-link"><span class="icon"><i
                                                class="icon icon-carce-briefcase"></i></span>Register</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- ...:::End Profile Details Section:::... -->
            </div> <!-- End Offcanvas Mobile Menu Wrapper -->
        </div> <!-- ...:::: End Offcanvas Profile Menu Section:::... -->

        <div class="offcanvas-overlay"></div>
