{% extends 'base.html' %} 
{% load static %}


{% block title %} | Welcome {% endblock %}
{% block content %}
    <main class="main-wrapper">

        <!-- ...:::Start Cart Section:::... -->
        <div class="cart-section section-gap-top-30">
            <div class="container">
                <div class="cart-items-wrapper">
                    {% if orderproducts %}
                    <ul class="cart-item-list">
                        
                        {% for orderproduct in orderproducts %}
                        <!-- Start Single Cart Item -->
                            <li class="single-cart-item">
                                <div class="image">
                                    <img width="90" height="90" src="{{orderproduct.product.images.url}}" alt="">
                                </div>
                                <div class="content">
                                    <a href="" class="title">{{orderproduct.product.product_name}}</a>
                                    <div class="details">
                                        <div class="left"> 
                                             {% if orderproduct.variations.all %}
                                                {% for item in orderproduct.variations.all %}
                                                    <span class="brand" style="margin-right: 20px;">{{item.variation_category}}: {{item.variation_value | upper}}</span>
                                                {% endfor %}
                                            {% endif %}
                                            <span style="display:flex">
                                              <span class="price" style="width:unset">${{orderproduct.product_price}} &nbsp;</span> x{{orderproduct.quantity}}
                                            </span>
                                        </div>
                                        <div class="right">
                                            <p><span class="icon"><i class="icon icon-carce-check-circle"></i></span> {{orderproduct.order.status}}</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        <!-- End Single Cart Item -->
                        {% endfor %}
                        {% else %}
                        <div style="display: flex;justify-content: center;align-items: center;flex-direction: column;height: 60vh;">
                            <!-- <a href="/" class="load-more-btn">Continue Shopping</a> -->
                            <h2 style="margin-bottom: 30px;">No Orders Yet</h2>
                            <img src="{% static '/assets/images/empty-cart.jpg' %}" alt="empty-cart" style="width: 96px">
                        </div>
                        {% endif %}
                    </ul>
                    <!-- <button class="load-more-btn">load more</button> -->
                </div>
            </div>
        </div>
        <!-- ...:::End Cart Section:::... -->

    

        <footer class="footer-section"></footer>
    </main>
{% endblock %}