
{% extends 'user/base.html' %} 


{% block title %} Forget Password {% endblock %}
{% block content %}
    <main class="main-wrapper">
        <!-- ...:::Start Login Section:::... -->
        <!-- GET request and conditiona 'command' -->
       
        <div class="login-section">
            <div class="container">
                <!-- Start User Event Area -->

                <div class="login-wrapper">
                    <div class="section-content">
                        <h1 class="title">Forgot Password</h1>
                        <p>Change Password for your account to continue.</p>
                    </div>
                    <form action="{% url 'forgotPassword' %}" method="POST" >
                        <div class="default-form-wrapper">
                         {% csrf_token %}
                        <ul class="default-form-list">
                            <li class="single-form-item">
                                <label for="email" class="visually-hidden">Email</label>
                                <input type="email" id="email" placeholder="email" name="email" value="demo@gmail.com">
                                <span class="icon"><i class="icon icon-carce-user"></i></span>
                            </li>
                        </ul>
                        </div>
                        <a href="{% url 'login' %}" class="forgot-link">Got password? Login</a>
                        
                        <input type="submit" style="width:100%" class="btn btn--block btn--radius btn--size-xlarge btn--color-white btn--bg-maya-blue text-center" name="submit" value="submit"/>
                    </form>
                    <span class="devide-text">or</span>
                </div>
              
                <!-- End User Event Area -->
                <div class="page-progress-wrapper">
                    <a href="{% url 'signup' %}" class="btn--center btn--round btn--size-58-58 btn--color-white btn--radical-red progress-btn progress-btn--50"><i class="icon icon-carce-ios-arrow-forward"></i></a>
                </div>
            </div>
        </div>
        <!-- ...:::End User Event Section:::... -->
        
    </main>

  {% endblock %}
