
{% extends 'user/base.html' %} 


{% block title %} Reset Password {% endblock %}
{% block content %}
    <main class="main-wrapper">
        <!-- ...:::Start Login Section:::... -->
        <!-- GET request and conditiona 'command' -->
       
        <div class="login-section">
            <div class="container">
                <!-- Start User Event Area -->
               {% if request.GET.command == 'verification' %}
               <div class="login-wrapper content" 
               style="box-shadow:0px 0px 10px rgba(168, 166, 166, 0.2);padding: 20px; border-radius: 10px;">
                     <h1>Verification</h1>
                        <p>Enter the verification code sent to your email</p>
                        <h1>Ignore if it's alread done and <a href="/login" style="border-bottom:1px solid">Login</a></h1>
                        
                  
               </div>
                   
                {%else %}
                <div class="login-wrapper">
                    <div class="section-content">
                        <h1 class="title">Reset Password</h1>
                        <p>Reset your account password to continue.</p>
                    </div>
                    <form action="{% url 'resetPassword' %}" method="POST" >
                        <div class="default-form-wrapper">
                         {% csrf_token %}
                        <ul class="default-form-list">
                            
                            <li class="single-form-item">
                                <label for="password" class="visually-hidden">Password</label>
                                <input type="password" id="password" placeholder="password" name="password" value="test1234">
                                <span class="icon"><i class="icon icon-carce-eye"></i></span>
                            </li>
                            <li class="single-form-item">
                                <label for="confirm_password" class="visually-hidden">Confirm Password</label>
                                <input type="password" id="confirm_password" placeholder="confirm password" name="confirm_password" value="test1234">
                                <span class="icon"><i class="icon icon-carce-eye"></i></span>
                            </li>
                        </ul>
                        </div>
                        <!-- <a href="{% url 'forgotPassword' %}" class="forgot-link">Forgot Password?</a>
                         -->
                        <input type="submit" style="width:100%;margin: 10px 0px;" class="btn btn--block btn--radius btn--size-xlarge btn--color-white btn--bg-maya-blue text-center" name="submit" value="submit"/>
                    </form>
                    <span class="devide-text">or</span>
                    <!-- <a href="https://www.facebook.com/login/" class="btn btn--social-large btn--block btn--radius btn--size-xlarge btn--color-white btn--bg-dodger-blue"><span class="icon"><i class="icon icon-carce-facebook"></i></span>Continue with Facebook</a>
                    <a href="https://myaccount.google.com/" class="btn btn--social-large btn--block btn--radius btn--size-xlarge btn--color-white btn--bg-red-orange"><span class="icon"><i class="icon icon-carce-google"></i></span>Continue with Google</a> -->
                </div>
                {% endif %}
                <div class="create-account-text text-center">Don't have an account? <a href="{% url 'signup' %}" class="btn--color-radical-red">Create now</a></div>
                <!-- End User Event Area -->
                <div class="page-progress-wrapper">
                    <a href="{% url 'signup' %}" class="btn--center btn--round btn--size-58-58 btn--color-white btn--radical-red progress-btn progress-btn--50"><i class="icon icon-carce-ios-arrow-forward"></i></a>
                </div>
            </div>
        </div>
        <!-- ...:::End User Event Section:::... -->
        
    </main>

  {% endblock %}
