{% extends 'base.html' %} 
{% load static %}


{% block title %} Setting {% endblock %}
{% block content %}
    <main class="main-wrapper overflow-x-hidden">


        <!-- ...:::Start Contact Section:::... -->
        <div class="contact-section section-gap-top-30">
            <div class="container">
              <form action="{% url 'settings' %}"  method="POST" enctype="multipart/form-data" >
                    {% csrf_token %}
                 
                <div class="profile-card-section section-gap-top-25">
                    <div class="profile-card-wrapper">
                        <div class="image">
                            {% if userprofile.profile_picture %}
                                {% if userprofile.profile_picture.url %}
                                    <img class="img-fluid" src="{{ userprofile.profile_picture.url }}" alt="" width="96" height="96">
                                {% else %}
                                    <img class="img-fluid" src="{% static 'assets/images/user/user-profile.png' %}" alt="" width="96" height="96">
                                {% endif %}
                            {% else %}
                                <img class="img-fluid" src="{% static 'assets/images/user/user-profile.png' %}" alt="" width="96" height="96">
                            {% endif %}

                            <label class="upload-image-label" for="file">
                                <i class="icon icon-carce-camera"></i>
                            </label>
                            <input class="upload-file" id="file" type="file" name="profile_picture">
                        </div>
                        <div class="content">
                            <h2 class="setting-name">{{ user.name | upper}}</h2>
                            <span class="setting-email email">{{ user.email | lower}}</span>
                            <span class="id-num">ID NO: {{ user.id }}</span>
                        </div>
                        <div class="profile-shape profile-shape-1"><img class="img-fluid" src="{% static 'assets/images/profile-shape-1.svg' %}" alt="" width="61" height="50"></div>
                        <div class="profile-shape profile-shape-2"><img class="img-fluid" src="{% static 'assets/images/profile-shape-2.svg' %}" alt="" width="48" height="59"></div>
                    </div>
                </div>

                <!-- Start User Event Area -->
                <div class="login-wrapper">
                        
                        <div class="default-form-wrapper profile-wrapper">
                        <ul class="default-form-list">
                            <li class="single-form-item">
                                <label for="name" class="visually-hidden">Name</label>
                                {{user_form.name}}
                                <span class="icon"><i class="icon icon-carce-user"></i></span>
                            </li>
                            <!-- <li class="single-form-item">
                                <label for="email" class="visually-hidden">Email</label>
                                {{user_form.email}}
                                <span class="icon"><i class="icon icon icon-carce-mail"></i></span>
                            </li> -->
                            <li class="single-form-item">
                                <label for="number" class="visually-hidden">Phone</label>
                                {{user_form.phone}}
                                <span class="icon"><i class="icon icon-carce-phone"></i></span>
                            </li>
                            <li class="single-form-item">
                                <label for="address_line_1" class="visually-hidden">address_line_1</label>
                                {{profile_form.address_line_1}}
                                <span class="icon"><i class="icon icon-carce-user"></i></span>
                            </li>
                            <li class="single-form-item">
                                <label for="address_line_2" class="visually-hidden">address_line_2</label>
                                {{profile_form.address_line_2}}
                                <span class="icon"><i class="icon icon-carce-user"></i></span>
                            </li>
                            <li class="single-form-item">
                                <label for="city" class="visually-hidden">city</label>
                                 {{profile_form.city}}
                                <span class="icon"><i class="icon icon-carce-user"></i></span>
                            </li>
                            <li class="single-form-item">
                                <label for="state" class="visually-hidden">state</label>
                                {{profile_form.state}}
                                <span class="icon"><i class="icon icon-carce-user"></i></span>
                            </li>
                             <li class="single-form-item">
                                <label for="country" class="visually-hidden">country</label>
                                {{profile_form.country}}
                                <span class="icon"><i class="icon icon-carce-user"></i></span>
                            </li>
                        </ul>
                        </div>
                        <input type="submit" style="width:100%" class="btn btn--block btn--radius btn--size-xlarge btn--color-white btn--bg-maya-blue text-center contact-btn" />
                    </div>
                </div>
            </form>
        </div>
        <!-- ...:::End Contact Section:::... -->

        <!-- ...:::Start User Event Section:::... -->
        <div class="user-event-section">
            <!-- Start User Event Area -->
            <div class="col pos-relative">

                <div class="user-event-area">
                    <div class="user-event user-event--left">
                        <a area-label="event link icon" href="index.html" class="event-btn-link"><i
                        class="icon icon-carce-home"></i></a>
                        <a area-label="wishlist icon" href="wishlist.html" class="event-btn-link"><i
                        class="icon icon-carce-heart"></i></a>
                    </div>
                    <div class="user-event user-event--center">
                        <a area-label="cart icon" href="cart.html" class="event-btn-link"><i
                        class="icon icon-carce-cart"></i></a>
                    </div>
                    <div class="user-event user-event--right">
                        <a area-label="order icon" href="order.html" class="event-btn-link"><i
                        class="icon icon-carce-compare"></i></a>
                        <a area-label="chat icon" href="chat.html" class="event-btn-link"><i
                        class="icon icon-carce-bubbles2"></i></a>
                    </div>
                </div>
            </div>
            <!-- End User Event Area -->
        </div>
        <!-- ...:::End User Event Section:::... -->

        <footer class="footer-section"></footer>
    </main>

  {% endblock %}